* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

body, html {
  height: 100%;     
  display: flex;
  justify-content: center;             /*Making the box place to center */
  align-items: center;
  background-color: #f4f4f4;
}